<nav
  hlmNavigationMenu
  class="w-full max-w-none top-0 left-0 right-0 px-8 py-2 border-y border-black fixed z-50 bg-white
  flex justify-between items-center"
>
  <div class="w-30 h-15 -my-2 flex items-center">
    @if (authService.isLoggedIn()) {
      <a routerLink="/">
        <img src="/swaplyLogo.png" alt="app logo">
      </a>
    }
    @else {
      <!-- todo -->
      <!-- the routerlink here should be the landing page -->
      <a routerLink="/">
        <img src="/swaplyLogo.png" alt="app logo">
      </a>
    }
  </div>

  <ul hlmNavigationMenuList class="flex items-center gap-10">   
    <li hlmNavigationMenuItem>
      <button hlmNavigationMenuTrigger class="bg-white">
        ENTDECKEN
        <ng-icon
          name="lucideChevronDown"
          class="relative top-[1px] ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180"
        />
      </button>

      <div hlmNavigationMenuContent *brnNavigationMenuContent>
        <ul
          class="grid gap-2 sm:w-[100px] md:w-[200px] md:grid-cols-2 lg:w-[300px]"
        >
          @for (component of _entdeckenComponents; track component.title) {
            <li>
              <a hlmNavigationMenuLink [routerLink]="component.href">
                <div class="text-sm leading-none font-medium">
                  {{ component.title }}
                </div>
              </a>
            </li>
          }
        </ul>
      </div>
    </li>

    <li hlmNavigationMenuItem>
      <a hlmNavigationMenuLink href="/articles">ARTIKEL</a>
    </li>

    @if (authService.isLoggedIn()) {
      <li hlmNavigationMenuItem>
        <a hlmNavigationMenuLink routerLink="/favorites">FAVOURITES</a>
      </li>

      <li hlmNavigationMenuItem>
        <a hlmNavigationMenuLink routerLink="/tauschangebot"
          >TAUSCHANGEBOTE</a
        >
      </li>

      <li hlmNavigationMenuItem>
        
        <div class="relative inline-block">
          <a hlmNavigationMenuLink routerLink="/chat">
            NACHRICHTEN
          </a>
        </div>
        
        @if (unreadMessages() >= 0) {
          <span class="absolute min-w-[18px] h-[18px] bg-red-600 
          text-white text-[11px] rounded-full flex 
          items-center right-0 top-0 justify-center">
            {{ unreadMessages() > 99 ? '+99' : unreadMessages() }}
          </span>
        }
      </li>

      <li hlmNavigationMenuItem>
        <a hlmNavigationMenuLink routerLink="/closet"
          >MEIN SCHRANK</a
        >
      </li>

      <li hlmNavigationMenuItem>
        <button brnNavigationMenuTrigger class="cursor-pointer">
          <hlm-avatar>
            <img
              src="/catProfile2.jpg"
              alt="user profile"
              hlmAvatarImage
            />
          </hlm-avatar>
        </button>

        <div hlmNavigationMenuContent *brnNavigationMenuContent>
          <ul class="flex-row">
            @for (component of _settingComponents; track $index) {
              <li>
                @if (component.action === 'logout') {
                  <a hlmNavigationMenuLink (click)="onLogOut()">
                    <div class="text-sm leading-none font-medium">
                      {{ component.title }}
                      <ng-icon
                        [name]="component.iconName"
                        [class]="component.iconClass"
                      />
                    </div>
                  </a>
                }
                @else {
                  <a hlmNavigationMenuLink [routerLink]="component.href">
                    <div class="text-sm leading-none font-medium">
                      {{ component.title }}
                      <ng-icon
                        [name]="component.iconName"
                        [class]="component.iconClass"
                      />
                    </div>
                  </a>
                }
              </li>
            }
          </ul>
        </div>
      </li>
      }

      <!-- @if (!authService.isLoggedIn()) {
        <li hlmNavigationMenuItem>
          <a hlmNavigationMenuLink href="/documentation/introduction">DOCS</a>
        </li>

        <li hlmNavigationMenuItem>
          <a hlmNavigationMenuLink href="/documentation/introduction">ABOUT US</a>
        </li> -->
      <!-- } -->
  </ul>

  @if (!authService.isLoggedIn()) {
    <div class="flex items-end gap-4">
        <button class="border border-black text-black bg-accent-foreground hover:text-accent-foreground" hlmBtn routerLink="/login">Login</button>
        <button class="border border-black text-black bg-accent-foreground hover:text-accent-foreground" hlmBtn routerLink="/signup">Signup</button>
    </div>
  }
</nav>
